# requirements.txt
# pip install -r requirements.txt

osmnx>=2.0.5
networkx>=3.4.2
matplotlib>=3.10.3
shapely>=2.1.1
numpy>=2.2.6
neo4j>=5.28.1
lxml>=6.0.0
fastapi
python-multipart
uvicorn
pypdf2
openai
networkx
# matplotlib.pyplot
